{% extends 'base.html.twig' %}

{% block title %}Mes produits{% endblock %}

{% block body %}

          <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Mes produits</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="{{ path('add_product') }}" class="btn btn-primary btn-lg">Ajouter un produit</a>
        <!-- on appelle le pdt à ajouter par son chemin : path...  -->
    </header>
        
        
        {% include 'incs/product_list.html.twig' with { 'products' : products, 'routeName' : 'product_paginated' } %}
        <!-- ac include lui retransmettre les variables pr qu'il reconnaisse
        'products' = liste de produit, petit nom qu'aura la variable products dans mon include,
        products = variable transmise de mon Controller
        (template qui transmet variable à autre template (le inc)) -->


{% endblock %}
